:root {
    --color1: #ccc;
    --colorWhite: #ffff;
    --colorBlack: #202131;
    --colorHover: #3D3D3D;
    --color2: #011F26;
    --color3: #025E73;
    --color4: #F2A71B;
    --color5: #BFB78F;
    --color6: #A5A692;
    --color7: #84B026;
    --color8: #D92525;
    --color9: #C7BEAB;
}


.div-add , .icon{
    max-width: 100px;
    margin: auto;
}

.div-add img ,.icon img {
    width: 100%;
    height: auto;
}

.div-add a {
    background: none;
    text-decoration: none;
}

.div-add a:hover {
    background: none;
    text-decoration: none;
}

.tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: var(--colorWhite);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tabla-usuarios th, .tabla-usuarios td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla-usuarios th {
    background-color: var(--color3); /* usa el color amarillo definido en tus variables */
    color: var(--colorWhite);
    font-weight: bold;
}

.tabla-usuarios tr:nth-child(even) {
    background-color: #f9f9f9; /* alternar colores de filas */
}

.tabla-usuarios tr:hover {
    background-color: #eaeaea; /* color al pasar el mouse */
}

.img-tabla {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.img-tabla:hover {
    transform: scale(1.2);
}

/* botón crear usuario */
.add-user {
    display: inline-block;
    padding: 8px 15px;
    background-color: var(--color3);
    color: var(--colorWhite);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.add-user:hover {
    background-color: var(--color2);
}

/* vista */
.text-bold {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color3);
}

/* formulario crear usuario */
.input-form {
    background-color: var(--colorWhite);
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.correo {
    background-color: #ccc;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.input-update {
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.update-btn {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--color7);
    color: var(--colorWhite);
    border: none;
    padding: 15px 50px;
    border-radius: 20px;
}

.update-btn:hover {
    color: var(--color7);
    background-color: var(--colorHover);
}

